* {
	/* outline: 1px dotted red; */
}

.custom-logo-link {
	width: 50px;
}

.edit-post-meta-boxes-main {
	background-color: red;
}

@layer utilities {

	/* Hide scrollbar for Chrome, Safari, and Opera */
	.no-scrollbar::-webkit-scrollbar {
		display: none;
	}

	/* Hide scrollbar for IE, Edge, and Firefox */
	.no-scrollbar {
		-ms-overflow-style: none;
		/* IE and Edge */
		scrollbar-width: none;
		/* Firefox */
	}
}

@media (min-width: 640px) {

	/*some this is for sub items for screens that are 640px or greater*/
	.sub-menu-item-div {
		background-color: var(--color-surface);
	}

	.menu-nav-item div:hover {
		color: var(--color-text);
	}
}

.diverse-item {
	border-bottom: 1px solid rgba(var(--color-text-rgb), 0.5);
	width: 100%;
}
