* {
	/* outline: 1px dotted red; */
}

html,
body {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

#header-nav-menu {
	transition: all 150ms;
}

.nav-item {
	font-weight: bold;

	border-bottom: 5px solid var(--color-surface);
	transition: all 150ms;
}

.nav-item:hover {
	border-bottom: 5px solid var(--color-accent);
}

.diverse-item {
	border-bottom: 1px solid rgba(var(--color-text-rgb), 0.5);
	width: 100%;
}
